#terminal {
    cursor: text;
}

#inputArea {
    outline: none;
}

span, #inputArea {
    vertical-align: middle;
    font-family: monospace;
    font-size: 20px;

}

#inputArea {
    resize: none;
    border: none; 
    margin-left: 9px;
}
#help_out {
    color: black;
    margin-left: 1%;
    margin-top: 0%;
}

body {
    font-family: monospace; 
    font-size: 20px;
}

span, #inputArea {
    vertical-align: middle; /* Ajustez cette propriété si nécessaire, par exemple à 'top' */
    display: inline-block; /* S'assurer que les éléments sont traités comme des blocs en ligne */
}


