body {
    background: rgb(0, 212, 255);
    background: -moz-linear-gradient(52deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 84%, rgba(2, 0, 36, 1) 100%);
    background: -webkit-linear-gradient(52deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 84%, rgba(2, 0, 36, 1) 100%);
    background: linear-gradient(52deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 84%, rgba(2, 0, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d4ff", endColorstr="#020024", GradientType=1);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins';font-size: 22px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: aliceblue;

}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

@keyframes dotAnimation {
    0% {
      content: "";
    }
    25% {
      content: ".";
    }
    50% {
      content: "..";
    }
    75% {
      content: "...";
    }
  }

  h1::after {
    content: "";
    animation: dotAnimation 3s steps(4) infinite;
  }