#terminal {
    cursor: text;
}

#inputArea {
    outline: none;
    background-color: black;
    color: rgb(255, 255, 255);
    
}

span, #inputArea {
    vertical-align: middle;
    font-family: monospace;
    font-size: 20px;
    display: inline-block;
}

#inputArea {
    resize: none;
    border: none; 
    margin-left: 9px;
}
#help_out {
    color: white;
    margin-left: 1%;
    margin-top: 0%;
}

#false_1 {
    color: red;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#false_2 {
    color: white;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#cv_out {
    color: white;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#glow_cmd {
    text-shadow: 
        0 0 30px white,
        0 0 20px white,
        0 0 10px white;
}


body {
    font-family: monospace; 
    font-size: 20px;
    background-color: black;
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-cursor::after {
    content: '|';
    animation: blink 1s infinite step-start;
    margin-left: 2px; /* Adjust if needed */
}

/* Apply the blinking cursor to the input area */
#inputArea {
    position: relative;
}

#inputArea.blinking-cursor {
    border-right: 2px solid white;
}

.centered-link {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: white;
    text-shadow: 
        0 0 10px white;
}

.link-container {
    display: flex;
    align-items: center;
}

.link-container a {
    display: flex;
    align-items: center;
    margin-right: 8px; /* Ajoute un espace entre les liens */
}

.link-container a svg {
    margin-right: 4px; /* Espace entre le SVG et le texte */
}

.help-command {
    margin-left: 20px; /* Marge pour décaler les commandes */
}

.help-description {
    margin-left: 30px; /* Marge pour décaler les descriptions */
}

.banner {
    font-size: calc(1vw + 7px);
    animation: glow 2s ease-in-out infinite;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
        0 0 10px white,
        0 0 20px white;
    }
    to {
        text-shadow: 
        0 0 0px white,
        0 0 0px white,
        0 0 0px white;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow:
        0 0 10px white,
        0 0 20px white;
    }
    to {
        text-shadow: 
        0 0 0px white,
        0 0 0px white,
        0 0 0px white;
    }
}